{{define "dark_mode"}}
<style>
    @media (prefers-color-scheme: dark) {
        body, #video-id{
            background-color: #0E0E10;
            color: white;
        }


        #chat-input {
            background-color: #18181B;
            color: white;
        }
    }
</style>
{{ end}}