<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>NeverAlone - Join Room</title>
</head>
<body>
{{template "header_index" .}}

<style>
    form {
        margin: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid #9147ff;
        padding: 5rem;
        border-radius: 30px;
    }

    h2 {
        max-width: 32rem;
        font-size: 2rem;
        line-height: 1;
    }

    label {
        font-size: 1.5rem;
    }

    input[type="radio"] {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 0.5rem;
        accent-color: #9147ff;
    }

    .radio-wrapper {
        display: flex;
        flex-direction: column;
    }

    .create-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .party-button {
        background-color: #9147ff;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        color: white;
        border-radius: 6px;
    }

    .passphrase-input {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .passphrase-input input {
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
</style>

<form method="post" action="/party/{{.SessionID}}">
    <section class="section-wrapper">
        <section class="group-wrapper">
            <h2>Enter passphrase for room</h2>
            <section class="radio-wrapper">
                <label class="passphrase-input">
                    {{ if .WrongPassword }} Passphrase was wrong, try again {{ else }} Passphrase {{end}}
                    <input type="password" name="passphrase-lobby">
                </label>
            </section>
        </section>

        <section class="create-wrapper">
            <button type="submit" class="party-button">
                Join room
            </button>
        </section>
    </section>
</form>

{{template "dark_mode"}}
</body>
</html>